@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
:root {
    margin: 10px;
    text-align:center;
    font-family: "Anton-Regular";
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* Nav */
.menu{
  background-color: rgb(57,106,177);
  color: yellow;
  height: 70px;
  
S

}
.menu__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%x;
  margin: auto;
}

.menu__links{
  height: 100%;
  transition: transform 5s;
  display: flex;
}
.menu__item{
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover{
  --clip:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__arrow{
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: 3px;

}

.menu__link{
  color: #fff;
  text-decoration: none;
  padding: 20px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu__link:hover{
  background-color: #5e7094;
}



.menu__nesting{
  list-style: none;
  transition: clip-path .3s;
   clip-path: var(--clip);
   position: absolute;
   right: 0;
   bottom: 0;
   width: max-content;
   transform: translateY(100%);
   background-color: #5e7094;
   display: none;
  }
  .menu__nesting--visible{
    display: block;
  }

  .menu__link--inside{
    padding: 10px 20px 10px 10px;
  }

  .menu__link--inside:hover{
    background-color: #798499;
  }

  .menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
  }

  .menu__img{
    display: block;
    width: 36px;
  }

Media queries 

  @media (max-width:800px){
     .menu__hamburguer{
      display: flex;

      }

      .menu__item{
        --clip:0;
        overflow:hidden ;
      }

      .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
      }

      .menu__item--show{
        background-color: var(--background);
      }
      
      .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-Y: auto;
        display: grid;
        grid-auto-rows: max-content;
      }
    

    .menu__link{
       padding: 25px 0;
       padding-left: 30;
       height: auto;

    }

    .menu__arrow{
      margin-left: auto;
      margin-right: 20px;
    }

    .menu__nesting{
      display: grid;
      position: unset;
      width: 100%;
      transform: translateY(0);
      height: 0;
      transition: height .3s                                                                     ;
    }
    .menu__link--inside{
      width: 90%;
      margin-left: auto;
      border-left: 1px solid #798499;
    }
}
      
 
/* ------------------------- CARROUSEL ------------------------------------ */
.carousel {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.carousel-item.active {
    opacity: 1;
}
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}
.carousel-control:hover {
    background: rgba(0, 0, 0, 0.7);
}
.carousel-control-prev {
    left: 0;
}
.carousel-control-next {
    right: 0;
    border-radius: 5px 0 0 5px;
}
.carousel-control-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}
.carousel-control-prev .carousel-control-icon {
    transform: rotate(180deg);
}
/*------------------------ FIN CARROUSEL ------------------------------------*/

/*CONTACTOS*/

#presentacion {
    background-color:aliceblue; /* Poner imagen de fondo de montaña o lo que sea */
    padding: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    
}

.buscador {
    padding: 8px;
    font-size: 1em;
    text-align: center;
    border: solid;
    border-color: burlywood;
    border-radius: 15px;
    font-family: 'Patrick Hand', cursive; /*amigable pero no tanta lectura*/
}

.contenido {
    padding-top: 10px;
}

header {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

/*main {
    display: grid;
    padding: 8px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: 'Comfortaa', cursive; //para más texto 

}*/

.opiniones{
    display:flex;
    justify-content: center;
    
}

#opinion {
    font-family: 'Indie Flower', cursive; /* para comentarios, opiniones*/
}


a:link {
    color: rgb(57, 177, 121);
}

a:visited {
    color: rgb(236,97,159)
}

a:hover{ 
    color: rgb(119,200,208)
}

a:active {
    color:rgb(33,164,143);
}




/*nav {
    padding: 8px;
    background-color: rgb(252,243,185);
    font-size: 25px;
    text-align:right;
    font-family: 'Patrick Hand', cursive; amigable pero no tanta lectura
}*/


/* font-family: 'Oswald', sans-serif; */

