:root {
    margin: 10px;
    text-align:center;
    font-family: "Anton-Regular";
} 
nav {
    padding: 8px;
    background-color: rgb(252,243,185);
    font-size: 25px;
    text-align:right;
    font-family: 'Patrick Hand', cursive; /* amigable pero no tanta lectura*/
}

#presentacion {
    background-color:aliceblue; /* Poner imagen de fondo de montaña o lo que sea */
    padding: 50px;
}

.buscador {
    padding:8px;
    font-size: 1em;
    text-align: left;
    border: solid;
    border-color: burlywood;
    border-radius: 15px;
    font-family: 'Patrick Hand', cursive; /* amigable pero no tanta lectura*/
}

.contenido {
    padding: 10px;
}

header {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

main {
    display: grid;
    padding: 8px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: 'Comfortaa', cursive; /* para más texto */

}

.opiniones{
    display:flex;
    justify-content: center;
    
}

#opinion {
    font-family: 'Indie Flower', cursive; /* para comentarios, opiniones*/
}


a:link {
    color: rgb(57,106,177);
}

a:visited {
    color: rgb(236,97,159)
}

a:hover{ 
    color: rgb(119,200,208)
}

a:active {
    color:rgb(33,164,143);
}



font-family: 'Oswald', sans-serif;

