:root {
    margin: 10px;
    text-align:center;
} 
nav {
    padding: 8px;
    background-color: rgb(252,243,185);
    text-align:right;


}

#presentacion {
    background-color:aliceblue; /* Poner imagen de fondo de montaña o lo que sea */
    padding: 50px;
}

.buscador {
    padding:10px;
    text-align: left;
    border: solid;
    border-color: burlywood;
    border-radius: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.opiniones{
    display:flex;
    justify-content: center;
    
}


a:link {
    color: rgb(57,106,177);
}

a:visited {
    color: rgb(236,97,159)
}

a:hover{ 
    color: rgb(119,200,208)
}

a:active {
    color:rgb(33,164,143);
}

