<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="img\ubicacion-logo.png" type="image/x-icon" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@700&family=Indie+Flower&family=Oswald:wght@700&family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../CSS/nav.css">
    <link rel="stylesheet" type="text/css" href="../CSS/contacto.css">

    <script type="text/javascript" src="../JS/nav.js" fade></script>
    <script type="text/javascript" src="../JS/contacto.js" fade></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    

</head>


<body>

    <nav class="menu">
        <section class="menu__container">
            <h1 class="menu__logo">Travellers</h1>
        
        <ul class="menu__links">
            <li class="menu__item">
                <a href="../index.html" class="menu__link">Home</a>
            </li>
            <li class="menu__item menu__item--show">
               <a href="#" class="menu__link">Servicios<img src="../assets/arrow.svg" class="menu__arrow"></a>

               <ul class="menu__nesting menu__nesting--visible">
                <li class="menu__inside">
                    <a href="./Destino.html" class="menu__link menu__link--inside">Destino</a>
                </li>
                <li class="menu__inside">
                    <a href="./Alquileres.html" class="menu__link menu__link--inside">Alquileres</a>
                </li>
                <li class="menu__inside">
                    <a href="./Transportes.html" class="menu__link menu__link--inside">Transportes</a>
                </li>
               </ul>
            </li>
            <li class="menu__item active" aria-current="page">
               <a id="destinos-menu" href="" class="menu__link">Contacto</a>
            </li>
            <li class="menu__item">
               <a href="./Iniciar Sesion.html" class="menu__link">Iniciar Sesion</a>
            </li>
        </ul>
        <div class="menu__hamburguer">
            <img src="../assets/menu.svg" class="menu__img">

        </div>
      </section>

    </nav>

     <main>
        <div id="presentacion">
            <h1>Contacto</h1>
            <form id="registro-form">
                <label for="nombre">Nombre *</label>
                <input type="text" placeholder="Nombre" id="nombre" name="nombre" required>
              
                <label for="apellido">Apellido *</label>
                <input type="text" placeholder="Apellido" id="apellido" name="apellido" required>
              
                <label for="email">Correo electrónico *</label>
                <input type="email" placeholder="Example@.com" id="email" name="email" required>
              
                <label for="residencia">Lugar de residencia</label>
                <input type="text" id="residencia" name="residencia">
              
                <label for="telefono">Teléfono</label>
                <input type="tel" id="telefono" placeholder="(min 10)" name="telefono" pattern="[0-9]">
                <div>
                    <button type="submit" id="enviar-btn">Registrarse</button>
                </div>
              
                
              </form>
              
            

           
    </main>
    <footer>
       <i>2023 Travellers, Inc.</i>
       <a href="#">Contacto</a> <!-- Lleva a pag con formulario para contactar  -->
       <a href="#">Sobre Nosotros</a> <!-- Lleva a otra pagina about us -->
       <a href="https://www.flaticon.com/free-icons/tour" title="tour icons">Tour icons created by Freepik - Flaticon</a><!-- copyright etc --> 
       
    </footer>
   
    <script type="text/javascript" src="../JS/nav.js"></script>
    <script type="text/javascript" src="../JS/contacto.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
