<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="img\ubicacion-logo.png" type="image/x-icon" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@700&family=Indie+Flower&family=Oswald:wght@700&family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../CSS/nav.css">
    <link rel="stylesheet" type="text/css" href="../CSS/main.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
   
</head>

<body>
   <!-- Navbar -->
    <nav class="menu">
        <section class="menu__container">
            <h1 class="menu__logo">Travellers</h1>
        
        <ul class="menu__links">
            <li class="menu__item">
                <a href="../index.html" class="menu__link">Home</a>
            </li>
            <li class="menu__item menu__item--show">
               <a href="#" class="menu__link">Servicios<img src="../assets/arrow.svg" class="menu__arrow"></a>

               <ul class="menu__nesting menu__nesting--visible">
                <li class="menu__inside active" aria-current="page">
                    <a id="destinos-menu" href=" " class="menu__link menu__link--inside">Destino</a>
                </li>
                <li class="menu__inside">
                    <a href="./Alojamiento.html" class="menu__link menu__link--inside">Alojamiento</a>
                </li>
                <li class="menu__inside">
                    <a href="./Transportes.html" class="menu__link menu__link--inside">Transportes</a>
                </li>
               </ul>
            </li>
            <li class="menu__item">
               <a  href="./contactos.html" class="menu__link">Contacto</a>
            </li>
            <li class="menu__item">
               <a href="./Iniciar Sesion.html" class="menu__link">Iniciar Sesion</a>
            </li>
        </ul>
        <div class="menu__hamburguer">
            <img src="./menu.svg" class="menu__img">

        </div>
    </section>

    </nav>
</header>

       <div id="presentacion">
            <h1>Destinos</h1>
        </div> 
            
    <main>
      <div class="card-container">
         <div class="card">
            <img src="../img/mendoza.jpeg" alt="Imagen" class="card-image">
            <div class="card-detail">
              <h2>Titulo</h2>
              <p>Descripción</p>
              <a href="#" class="close-btn">Cerrar</a>
            </div>
          </div>
          <div class="card">
            <img src="../img/perito-moreno.jpg" alt="Glaciar Perito Moreno" class="card-image">
            <div class="card-detail">
              <h2>Titulo</h2>
              <p>Descripción</p>
              <a href="#" class="close-btn">Cerrar</a>
            </div>
          </div>
          <div class="card">
            <img src="../img/el-chalten.jpg" alt="El Chalten" class="card-image">
            <div class="card-detail">
              <h2>Titulo</h2>
              <p>Descripción</p>
              <a href="#" class="close-btn">Cerrar</a>
            </div>
          </div>
          <div class="card">
            <img src="../img/Calafate.png" alt="El Calafate" class="card-image">
            <div class="card-detail">
              <h2>Titulo</h2>
              <p>Descripción</p>
              <a href="#" class="close-btn">Cerrar</a>
            </div>
          </div>
          <div class="card">
            <img src="../img/cerro-7-colores-purmamarca.jpg" alt="Purmamarca" class="card-image">
            <div class="card-detail">
              <h2>Titulo</h2>
              <p>Descripción</p>
              <a href="#" class="close-btn">Cerrar</a>
            </div>
          </div><div class="card">
            <img src="../img/cataratas-del-iguazu.jpg" alt="Cataratas del Iguazu" class="card-image">
            <div class="card-detail">
              <h2>Titulo</h2>
              <p>Descripción</p>
              <a href="#" class="close-btn">Cerrar</a>
            </div>
          </div>
          
          <div class="opiniones"> <!-- Poner opiniones de usuarios -->
                <section>
                  <p>Beatriz Juan</p>
                  <p id="opinion"><i>"Gracias a Travellers hice el camino desde El Calafate hasta El Chaltén junto un un hermoso grupo de personas, nos ayudó a dividir gastos ya duplicar la diversion!"</i></p>
                </section>
            </div>
          </div>
        </div>
    </main>
    <footer>
       <i>2023 Travellers, Inc.</i>
       <a href="#">Contacto</a> <!-- Lleva a pag con formulario para contactar  -->
       <a href="#">Sobre Nosotros</a> <!-- Lleva a otra pagina about us -->
       
    </footer>
   
    
    
    <script type="text/javascript" src="../JS/nav.js"></script>
    <script type="text/javascript" src="../JS/destino.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
