<!DOCTYPE html>
<html lang="en">
<head>    
    <link rel="shortcut icon" href="img\ubicacion-logo.png" type="image/x-icon" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@700&family=Indie+Flower&family=Oswald:wght@700&family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../CSS/nav.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <link rel="stylesheet" type="text/css" href="../CSS/main.css">
    <title>Travellers</title>
    <script type="text/javascript" src="../JS/nav.js" defer></script>
    <script type="text/javascript" src="../JS/script.js" defer></script>
    <script type="text/javascript" src="../JS/cards.js" defer></script>

   <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

        
       
    
    </head>
    <body>
        <nav class="menu">
            <section class="menu__container">
                <h1 class="menu__logo">Travellers</h1>
            
            <ul class="menu__links">
                <li class="menu__item" class="active" aria-current="page">
                    <a id="destinos-menu" href="" class="menu__link" >Home</a>
                </li>
                <li class="menu__item menu__item--show">
                   <a href="" class="menu__link">Servicios<img src="../assets/arrow.svg" class="menu__arrow"></a>
    
                   <ul class="menu__nesting menu__nesting--visible">
                    <li class="menu__inside">
                        <a href="../views/Servicios/Destino.html" class="menu__link menu__link--inside">Destino</a>
                    </li>
                    <li class="menu__inside">
                        <a href="../views/Servicios/Alquileres.html" class="menu__link menu__link--inside">Alquileres</a>
                    </li>
                    <li class="menu__inside">
                        <a href="../views/Servicios/Transportes.html" class="menu__link menu__link--inside">Transportes</a>
                    </li>
                   </ul>
                </li>
                <li class="menu__item">
                   <a href="../views/contactos.html" class="menu__link">Contacto</a>
                </li>
                <li class="menu__item">
                   <a href="../views/Iniciar Sesion.html" class="menu__link">Iniciar Sesion</a>
                </li>
            </ul>
            <div class="menu__hamburguer">
                <img src="../assets/menu.svg" class="menu__img">
           </div>
        </section>
    </nav>
    
           <div id="presentacion">
                <h1>Bienvenidos a Travellers</h1>
            </div> 
                <!-- carrousel con imegenes-->
                
    <div class="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active carousel-slide active">
                <img src="../img/puerto-madero.webp" alt="Imagen 1" width="90%" height="500">
            </div>
            <div class="carousel-item carousel-slide">
                <img src="../img/Calafate.png" alt="Imagen 2" width="90%" height="500">
            </div>
            <div class="carousel-item carousel-slide">
                <img src="../img/paul-lucyk-CcJiAGg8pTA-unsplash (1).jpg" alt="Imagen 3" width="90%" height="500">
            </div>
        <div class="carousel-item carousel-slide">
                <img src="../img/nadine-marfurt-xFFdn-n5Y9I-unsplash.jpg" alt="Imagen 3" width="90%" height="500">
            </div>
        <div class="carousel-item carousel-slide">
                <img src="../img/roi-dimor-wpje5hMfJj0-unsplash.jpg" alt="Imagen 3" width="90%" height="500">
            </div>
        </div>
        <a class="carousel-control carousel-control-prev" href="../assets/contleft.svg" role="button">
            <span class="carousel-control-icon"></span>
        </a>
        <a class="carousel-control carousel-control-next" href="../assets/conright.svg" role="button">
            <span class="carousel-control-icon"></span>
        </a>
    </div>
        </header>
        <main>
            <div class="buscador">
                <div class="contenido">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia excepturi placeat necessitatibus sit quas alias, magnam est magni aliquid ducimus quod. Itaque nulla voluptatem assumenda. Tenetur numquam porro, 
                </div>
            </div>
            <div class="grid-container">
                <div class="card green">
                    <a href="./Servicios/Destino.html">Destinos</a>
                    <img src="" alt="">
                    </div>
                    <div class="card red">
                    <a href="./Servicios/Alquileres.html">Alquileres</a>
                    <p></p>
                    <img src="" alt="hotel">
                    </div>
                    
                    <div class="card blue">
                    <a href="./Servicios/Transportes.html">Como Viajar</a>
                    <img src="" alt="transporte">
                    </div>
                </div>
                
                                        
             
             
              
            
    
            
           
                
        </main>
        <footer>
           <i>2023 Travellers, Inc.</i>
           <a href="#">Contacto</a> <!-- Lleva a pag con formulario para contactar  -->
           <a href="#">Sobre Nosotros</a> <!-- Lleva a otra pagina about us -->
           <a href="https://www.flaticon.com/free-icons/tour" title="tour icons">Tour icons created by Freepik - Flaticon</a><!-- copyright etc --> 
           
        </footer>
    
        
    
    

    <script type="text/javascript" src="../JS/nav.js"></script>
    <script type="text/javascript" src="../JS/script.js"></script>

   
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
